In [ ]:
import pandas as pd
from sqlalchemy import create_engine

### Store Country CSV into DataFrame

In [ ]:
csv_file = "./Resources/IOC_COUNTRY_CODES.csv"
country_data_df = pd.read_csv(csv_file,keep_default_na=False)

### Create new Country DataFrame from columns needed in Country Table

In [1]:
new_country_data_df = country_data_df[["Int Olympic Committee code","ISO code","Country"]].copy()
new_country_data_df

NameError: ignored

### Connect to local database

In [ ]:
protocol = 'postgresql'
username = 'postgres'
password = 'admin'
host = 'localhost'
port = 5432
database_name = 'olympics_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

### Rename Country DataFrame Columns

In [ ]:
#Rename dataframe columns
new_country_data_df.rename(columns={"Int Olympic Committee code":"ioc_code", "ISO code": "iso_code", "Country":"name"},inplace=True)
new_country_data_df

    ioc_code iso_code             name
0        AFG       AF      Afghanistan
1        ALB       AL          Albania
2        ALG       DZ          Algeria
3        ASA       AS  American Samoa*
4        AND       AD          Andorra
..       ...      ...              ...
196      VIE       VN          Vietnam
197      ISV       VI  Virgin Islands*
198      YEM       YE            Yemen
199      ZAM       ZM           Zambia
200      ZIM       ZW         Zimbabwe

[201 rows x 3 columns]

*italicized text*### Use pandas to load Country csv converted DataFrame into database

In [ ]:
#Country DF to Country Table
new_country_data_df.to_sql(name='country', con=engine, if_exists='append', index=False)

### Store Olympic (Summer Olympic) CSV into DataFrame

In [ ]:
csv_file = "./Resources/olympics.csv"
olympic_data_df = pd.read_csv(csv_file,keep_default_na=False,skiprows=4)
olympic_data_df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

### Remove duplicate data from olympic dataframe

In [ ]:
events_data_df = olympics_data_df.drop_duplicates(["Sport","Discipline","Event"])[["Sport","Discipline","Event"]]
events_data_df

              Sport    Discipline                             Event
0          Aquatics      Swimming                    100m freestyle
2          Aquatics      Swimming        100m freestyle for sailors
5          Aquatics      Swimming                   1200m freestyle
8          Aquatics      Swimming                    400m freestyle
11        Athletics     Athletics                              100m
...             ...           ...                               ...
28810       Sailing       Sailing         Finn - Heavyweight Dinghy
28813       Sailing       Sailing         Laser - One Person Dinghy
28816       Sailing       Sailing  Laser Radial - One Person Dinghy
28819       Sailing       Sailing                 RS:X - Windsurfer
28942  Table Tennis  Table Tennis                              team

[648 rows x 3 columns]

### Rename events dataframe Event column

In [ ]:
#Rename Country dataframe columns
events_data_df.rename(columns={"Sport":"sport","Discipline":"discipline","Event":"name"},inplace=True)
events_data_df

              sport    discipline                              name
0          Aquatics      Swimming                    100m freestyle
2          Aquatics      Swimming        100m freestyle for sailors
5          Aquatics      Swimming                   1200m freestyle
8          Aquatics      Swimming                    400m freestyle
11        Athletics     Athletics                              100m
...             ...           ...                               ...
28810       Sailing       Sailing         Finn - Heavyweight Dinghy
28813       Sailing       Sailing         Laser - One Person Dinghy
28816       Sailing       Sailing  Laser Radial - One Person Dinghy
28819       Sailing       Sailing                 RS:X - Windsurfer
28942  Table Tennis  Table Tennis                              team

[648 rows x 3 columns]

### Use pandas to load Event csv converted DataFrame into database

In [ ]:
#Events DF to Event table
events_data_df.to_sql(name='event', con=engine, if_exists='append', index=False)

### Store Winter CSV into DataFrame

In [ ]:
csv_file = "./Resources/winter.csv"
winter_data_df = pd.read_csv(csv_file,keep_default_na=False)
winter_data_df.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal,Athlete
0,1924,Chamonix,Biathlon,Biathlon,FIN,Men,Military Patrol,Silver,FIN
1,1924,Chamonix,Biathlon,Biathlon,FRA,Men,Military Patrol,Bronze,FRA
2,1924,Chamonix,Biathlon,Biathlon,SUI,Men,Military Patrol,Gold,SUI
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,Men,Four-Man,Bronze,BEL
4,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,Men,Four-Man,Silver,GBR

### Remove duplicate data from winter dataframe

In [ ]:
winter_event_df = winter_data_df.drop_duplicates(["Sport","Discipline","Event"])[["Sport","Discipline","Event"]]
winter_event_df

              Sport      Discipline                  Event
0          Biathlon        Biathlon        Military Patrol
3         Bobsleigh       Bobsleigh               Four-Man
6           Curling         Curling                Curling
9        Ice Hockey      Ice Hockey             Ice Hockey
12          Skating  Figure skating             Individual
...             ...             ...                    ...
3244  Speed Skating   Speed Skating          10,000 metres
3247  Speed Skating   Speed Skating             Mass Start
3250  Speed Skating   Speed Skating  Team Pursuit (8 laps)
3262  Speed Skating   Speed Skating           3,000 metres
3271  Speed Skating   Speed Skating  Team Pursuit (6 laps)

[152 rows x 3 columns]

### Rename events dataframe Event column

In [ ]:
#Rename Country dataframe columns
winter_event_df.rename(columns={"Sport":"sport","Discipline":"discipline","Event":"name"},inplace=True)
winter_event_df

              sport      discipline                   name
0          Biathlon        Biathlon        Military Patrol
3         Bobsleigh       Bobsleigh               Four-Man
6           Curling         Curling                Curling
9        Ice Hockey      Ice Hockey             Ice Hockey
12          Skating  Figure skating             Individual
...             ...             ...                    ...
3244  Speed Skating   Speed Skating          10,000 metres
3247  Speed Skating   Speed Skating             Mass Start
3250  Speed Skating   Speed Skating  Team Pursuit (8 laps)
3262  Speed Skating   Speed Skating           3,000 metres
3271  Speed Skating   Speed Skating  Team Pursuit (6 laps)

[152 rows x 3 columns]

### Use pandas to load Winter csv converted DataFrame into database

In [ ]:
#Events DF to Event table
winter_event_df.to_sql(name='event', con=engine, if_exists='append', index=False)

### Use pandas to read country data from database

In [ ]:
country_table_data_df =pd.read_sql_query('select * from country', con=engine)

In [ ]:
country_table_data_df.head()

  ioc_code iso_code             name
0      AFG       AF      Afghanistan
1      ALB       AL          Albania
2      ALG       DZ          Algeria
3      ASA       AS  American Samoa*
4      AND       AD          Andorra

### Use pandas to read Event data from the database

In [ ]:
event_table_data_df =pd.read_sql_query('select * from event', con=engine)

In [ ]:
event_table_data_df.head()

   id      sport discipline                        name
0   1   Aquatics   Swimming              100m freestyle
1   2   Aquatics   Swimming  100m freestyle for sailors
2   3   Aquatics   Swimming             1200m freestyle
3   4   Aquatics   Swimming              400m freestyle
4   5  Athletics  Athletics                        100m

### Merge summer olympic data with country data from the database to get country name

In [ ]:
df3 = pd.merge(olympics_data_df, country_table_data_df, left_on='NOC', right_on='ioc_code')
df3

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,ioc_code,iso_code,name
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,HUN,HU,Hungary
1,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold,HUN,HU,Hungary
2,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,HUN,HU,Hungary
3,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver,HUN,HU,Hungary
4,Athens,1896,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,marathon,M,Bronze,HUN,HU,Hungary
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23852,Beijing,2008,Boxing,Boxing,"JULIE, Bruno",MRI,Men,51 - 54kg (bantamweight),M,Bronze,MRI,MU,Mauritius
23853,Beijing,2008,Canoe / Kayak,Canoe / Kayak S,"BOUKPETI, Benjamin",TOG,Men,K-1 (kayak single),M,Bronze,TOG,TG,Togo
23854,Beijing,2008,Judo,Judo,"BOQIEV, Rasul",TJK,Men,66 - 73kg (lightweight),M,Bronze,TJK,TJ,Tajikistan
23855,Beijing,2008,Wrestling,Wrestling Free.,"ABDUSALOMOV, Yusup",TJK,Men,74 - 84kg,M,Silver,TJK,TJ,Tajikistan
23856,Beijing,2008,Taekwondo,Taekwondo,"NIKPAI, Rohullah",AFG,Men,- 58 kg,M,Bronze,AFG,AF,Afghanistan

### Merge summer olympic data with event data from the database to get event id

In [ ]:
final_merge_summer = df3.merge(event_table_data_df, left_on=['Sport','Discipline', 'Event'], right_on = ['sport','discipline','name'], how='left')
final_merge_summer

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,ioc_code,iso_code,name_x,id,sport,discipline,name_y
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,HUN,HU,Hungary,1,Aquatics,Swimming,100m freestyle
1,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold,HUN,HU,Hungary,3,Aquatics,Swimming,1200m freestyle
2,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,HUN,HU,Hungary,5,Athletics,Athletics,100m
3,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver,HUN,HU,Hungary,9,Athletics,Athletics,800m
4,Athens,1896,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,marathon,M,Bronze,HUN,HU,Hungary,13,Athletics,Athletics,marathon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23852,Beijing,2008,Boxing,Boxing,"JULIE, Bruno",MRI,Men,51 - 54kg (bantamweight),M,Bronze,MRI,MU,Mauritius,365,Boxing,Boxing,51 - 54kg (bantamweight)
23853,Beijing,2008,Canoe / Kayak,Canoe / Kayak S,"BOUKPETI, Benjamin",TOG,Men,K-1 (kayak single),M,Bronze,TOG,TG,Togo,445,Canoe / Kayak,Canoe / Kayak S,K-1 (kayak single)
23854,Beijing,2008,Judo,Judo,"BOQIEV, Rasul",TJK,Men,66 - 73kg (lightweight),M,Bronze,TJK,TJ,Tajikistan,537,Judo,Judo,66 - 73kg (lightweight)
23855,Beijing,2008,Wrestling,Wrestling Free.,"ABDUSALOMOV, Yusup",TJK,Men,74 - 84kg,M,Silver,TJK,TJ,Tajikistan,631,Wrestling,Wrestling Free.,74 - 84kg
23856,Beijing,2008,Taekwondo,Taekwondo,"NIKPAI, Rohullah",AFG,Men,- 58 kg,M,Bronze,AFG,AF,Afghanistan,577,Taekwondo,Taekwondo,- 58 kg

### Rename columns to align with database column names

In [ ]:
final_merge_summer.rename(columns={"City":"city","ioc_code":"country_ioc","Edition":"year","Athlete":"athlete_name","name_x":"athlete_country_name","Medal":"medal","id":"event_id"},inplace=True)
final_merge_summer.head()

,city,year,Sport,Discipline,athlete_name,NOC,Gender,Event,Event_gender,medal,country_ioc,iso_code,athlete_country_name,event_id,sport,discipline,name_y
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,HUN,HU,Hungary,1,Aquatics,Swimming,100m freestyle
1,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold,HUN,HU,Hungary,3,Aquatics,Swimming,1200m freestyle
2,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,HUN,HU,Hungary,5,Athletics,Athletics,100m
3,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver,HUN,HU,Hungary,9,Athletics,Athletics,800m
4,Athens,1896,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,marathon,M,Bronze,HUN,HU,Hungary,13,Athletics,Athletics,marathon

### Create dataframe to get necessary columns for insert from merged dataframe

In [ ]:
summer_event_data= final_merge_summer[["city","year","event_id","athlete_name","athlete_country_name","country_ioc","medal"]].copy()
summer_event_data.head()

,city,year,event_id,athlete_name,athlete_country_name,country_ioc,medal
0,Athens,1896,1,"HAJOS, Alfred",Hungary,HUN,Gold
1,Athens,1896,3,"HAJOS, Alfred",Hungary,HUN,Gold
2,Athens,1896,5,"SZOKOLYI, Alajos",Hungary,HUN,Bronze
3,Athens,1896,9,"DANI, Nandor",Hungary,HUN,Silver
4,Athens,1896,13,"KELLNER, Gyula",Hungary,HUN,Bronze

### Add season column to dataframe for insert into olympic_event table

In [ ]:
summer_event_data['season']='Summer'
summer_event_data.head()

,city,year,event_id,athlete_name,athlete_country_name,country_ioc,medal,season
0,Athens,1896,1,"HAJOS, Alfred",Hungary,HUN,Gold,Summer
1,Athens,1896,3,"HAJOS, Alfred",Hungary,HUN,Gold,Summer
2,Athens,1896,5,"SZOKOLYI, Alajos",Hungary,HUN,Bronze,Summer
3,Athens,1896,9,"DANI, Nandor",Hungary,HUN,Silver,Summer
4,Athens,1896,13,"KELLNER, Gyula",Hungary,HUN,Bronze,Summer

### insert summer event dataframe into olympic_event table

In [ ]:
summer_event_data.to_sql(name='olympic_event', con=engine, if_exists='append', index=False)

### Merge winter olympic data with country data from the database to get country name

In [ ]:
df3 = pd.merge(winter_data_df, country_table_data_df, left_on='Country', right_on='ioc_code')
df3

,Year,City,Sport,Discipline,Country,Gender,Event,Medal,Athlete,ioc_code,iso_code,name
0,1924,Chamonix,Biathlon,Biathlon,FIN,Men,Military Patrol,Silver,FIN,FIN,FI,Finland
1,1924,Chamonix,Skating,Figure skating,FIN,Men,Pairs,Silver,"JAKOBSSON, Walter",FIN,FI,Finland
2,1924,Chamonix,Skating,Figure skating,FIN,Women,Pairs,Silver,"JAKOBSSON, Ludowika",FIN,FI,Finland
3,1924,Chamonix,Skating,Speed skating,FIN,Men,10000M,Gold,"SKUTNABB, Julius",FIN,FI,Finland
4,1924,Chamonix,Skating,Speed skating,FIN,Men,10000M,Silver,"THUNBERG, Clas",FIN,FI,Finland
...,...,...,...,...,...,...,...,...,...,...,...,...
2800,2010,Vancouver,Biathlon,Biathlon,SVK,Women,7.5KM,Gold,"KUZMINA, Anastazia",SVK,SK,Slovakia
2801,2014,Sochi,Biathlon,Biathlon,SVK,Women,7.5KM,Gold,"KUZMINA, Anastazia",SVK,SK,Slovakia
2802,2018,PyeongChang,Biathlon,Biathlon,SVK,Women,10 kilometres Pursuit,Silver,Anastasia Kuzmina,SVK,SK,Slovakia
2803,2018,PyeongChang,Biathlon,Biathlon,SVK,Women,12.5 kilometres Mass Start,Gold,Anastasia Kuzmina,SVK,SK,Slovakia
2804,2018,PyeongChang,Biathlon,Biathlon,SVK,Women,15 kilometres,Silver,Anastasia Kuzmina,SVK,SK,Slovakia

### Merge winter olympic data with country data from the database to get event id

In [ ]:
final_merge_winter = df3.merge(event_table_data_df, left_on=['Sport','Discipline', 'Event'], right_on = ['sport','discipline','name'], how='left')
final_merge_winter

,Year,City,Sport,Discipline,Country,Gender,Event,Medal,Athlete,ioc_code,iso_code,name_x,id,sport,discipline,name_y
0,1924,Chamonix,Biathlon,Biathlon,FIN,Men,Military Patrol,Silver,FIN,FIN,FI,Finland,649,Biathlon,Biathlon,Military Patrol
1,1924,Chamonix,Skating,Figure skating,FIN,Men,Pairs,Silver,"JAKOBSSON, Walter",FIN,FI,Finland,654,Skating,Figure skating,Pairs
2,1924,Chamonix,Skating,Figure skating,FIN,Women,Pairs,Silver,"JAKOBSSON, Ludowika",FIN,FI,Finland,654,Skating,Figure skating,Pairs
3,1924,Chamonix,Skating,Speed skating,FIN,Men,10000M,Gold,"SKUTNABB, Julius",FIN,FI,Finland,655,Skating,Speed skating,10000M
4,1924,Chamonix,Skating,Speed skating,FIN,Men,10000M,Silver,"THUNBERG, Clas",FIN,FI,Finland,655,Skating,Speed skating,10000M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,2010,Vancouver,Biathlon,Biathlon,SVK,Women,7.5KM,Gold,"KUZMINA, Anastazia",SVK,SK,Slovakia,692,Biathlon,Biathlon,7.5KM
2801,2014,Sochi,Biathlon,Biathlon,SVK,Women,7.5KM,Gold,"KUZMINA, Anastazia",SVK,SK,Slovakia,692,Biathlon,Biathlon,7.5KM
2802,2018,PyeongChang,Biathlon,Biathlon,SVK,Women,10 kilometres Pursuit,Silver,Anastasia Kuzmina,SVK,SK,Slovakia,749,Biathlon,Biathlon,10 kilometres Pursuit
2803,2018,PyeongChang,Biathlon,Biathlon,SVK,Women,12.5 kilometres Mass Start,Gold,Anastasia Kuzmina,SVK,SK,Slovakia,750,Biathlon,Biathlon,12.5 kilometres Mass Start
2804,2018,PyeongChang,Biathlon,Biathlon,SVK,Women,15 kilometres,Silver,Anastasia Kuzmina,SVK,SK,Slovakia,751,Biathlon,Biathlon,15 kilometres

### Rename columns to prepare for insert into olympic_event table

In [ ]:
final_merge_winter.rename(columns={"City":"city","ioc_code":"country_ioc","Year":"year","Athlete":"athlete_name","name_x":"athlete_country_name","Medal":"medal","id":"event_id"},inplace=True)
final_merge_winter.head()

,year,city,Sport,Discipline,Country,Gender,Event,medal,athlete_name,country_ioc,iso_code,athlete_country_name,event_id,sport,discipline,name_y
0,1924,Chamonix,Biathlon,Biathlon,FIN,Men,Military Patrol,Silver,FIN,FIN,FI,Finland,649,Biathlon,Biathlon,Military Patrol
1,1924,Chamonix,Skating,Figure skating,FIN,Men,Pairs,Silver,"JAKOBSSON, Walter",FIN,FI,Finland,654,Skating,Figure skating,Pairs
2,1924,Chamonix,Skating,Figure skating,FIN,Women,Pairs,Silver,"JAKOBSSON, Ludowika",FIN,FI,Finland,654,Skating,Figure skating,Pairs
3,1924,Chamonix,Skating,Speed skating,FIN,Men,10000M,Gold,"SKUTNABB, Julius",FIN,FI,Finland,655,Skating,Speed skating,10000M
4,1924,Chamonix,Skating,Speed skating,FIN,Men,10000M,Silver,"THUNBERG, Clas",FIN,FI,Finland,655,Skating,Speed skating,10000M

### Create dataframe to get necessary columns for insert from merged dataframe

In [ ]:
winter_event_data= final_merge_winter[["city","year","event_id","athlete_name","athlete_country_name","country_ioc","medal"]].copy()
winter_event_data.head()

,city,year,event_id,athlete_name,athlete_country_name,country_ioc,medal
0,Chamonix,1924,649,FIN,Finland,FIN,Silver
1,Chamonix,1924,654,"JAKOBSSON, Walter",Finland,FIN,Silver
2,Chamonix,1924,654,"JAKOBSSON, Ludowika",Finland,FIN,Silver
3,Chamonix,1924,655,"SKUTNABB, Julius",Finland,FIN,Gold
4,Chamonix,1924,655,"THUNBERG, Clas",Finland,FIN,Silver

### Add season column to winter dataframe

In [ ]:
winter_event_data['season']='Winter'
winter_event_data.head()

,city,year,event_id,athlete_name,athlete_country_name,country_ioc,medal,season
0,Chamonix,1924,649,FIN,Finland,FIN,Silver,Winter
1,Chamonix,1924,654,"JAKOBSSON, Walter",Finland,FIN,Silver,Winter
2,Chamonix,1924,654,"JAKOBSSON, Ludowika",Finland,FIN,Silver,Winter
3,Chamonix,1924,655,"SKUTNABB, Julius",Finland,FIN,Gold,Winter
4,Chamonix,1924,655,"THUNBERG, Clas",Finland,FIN,Silver,Winter

### insert winter event data to olympic_event table

In [ ]:
winter_event_data.to_sql(name='olympic_event', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the olympic_event table

In [ ]:
pd.read_sql_query('select * from olympic_event', con=engine).head()

,id,city,season,year,event_id,athlete_name,athlete_country_name,country_ioc,medal
0,1,Athens,Summer,1896,1,"HAJOS, Alfred",Hungary,HUN,Gold
1,2,Athens,Summer,1896,3,"HAJOS, Alfred",Hungary,HUN,Gold
2,3,Athens,Summer,1896,5,"SZOKOLYI, Alajos",Hungary,HUN,Bronze
3,4,Athens,Summer,1896,9,"DANI, Nandor",Hungary,HUN,Silver
4,5,Athens,Summer,1896,13,"KELLNER, Gyula",Hungary,HUN,Bronze